@model List<PushServer.Models.ApplicationUser>
@{
    ViewBag.Title = "AccountList";
}
<h2>账号列表</h2>
<p>
    <a href="/account/register?returnUrl=@Request.Url.PathAndQuery">添加账号</a>
</p>
<form action="/account/accountlist" method="get">
    <input placeholder="搜索账号" name="kw" value="@Request["kw"]" />
    <input type="submit" value="搜索" />
    <input type="button" onclick="$('input[name=kw]').val('');$('form').submit()" value="重置" />
</form>
<br />
<table class="table table-bordered">
    <tr>
        <th>
            用户名
        </th>
        <th>
            软件ID
        </th>
        <th>
            授权剩余时长
        </th>
        <th>
            许可证状态
        </th>
        <th>授权时长管理</th>
    </tr>
    @foreach (var user in Model)
    {
        if (user.SoftwareLicenses.Any())
        {
            foreach (var item in user.SoftwareLicenses)
            {
                var state = item.Expires.AsLicenseState();
                <tr>
                    <td rowspan="2">@item.User.UserName</td>
                    <td>@item.SoftwareId</td>
                    <td>@item.Expires.AsRemainingTime()</td>
                    <td>@item.Expires.AsLicenseState()</td>
                    <td>
                        <a href="/account/addlicense?licenseId=@item.Id&days=1&returnUrl=@Request.Url.PathAndQuery">+1天</a>
                        | <a href="/account/addlicense?licenseId=@item.Id&days=10&returnUrl=@Request.Url.PathAndQuery">+10天</a>
                        | <a href="/account/addlicense?licenseId=@item.Id&days=15&returnUrl=@Request.Url.PathAndQuery">+15天</a>
                        | <a href="/account/addlicense?licenseId=@item.Id&days=30&returnUrl=@Request.Url.PathAndQuery">+1月</a>
                        @if (state != LicenseState.未授权)
                        {
                            <span>|</span>
                            <a href="/account/dellicense?licenseId=@item.Id&returnUrl=@Request.Url.PathAndQuery">
                                取消授权
                            </a>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding:0;">
                        <table class="table table-condensed">
                            <tr>
                                <td>应用名</td>
                                <td>应用版本</td>
                                <td>编译时间</td>
                                <td>连接建立</td>
                                <td>OS版本</td>
                                <td>IE版本</td>
                                <td>运行时</td>
                                <td>断线重连</td>
                                <td>最后连接</td>
                                <td>上次断开</td>
                                <td>状态</td>
                                <td>操作</td>
                            </tr>
                            @foreach (var conn in user.Connections.OrderByDescending(x => x.ConnectAt).Take(5))
                            {
                                <tr class="@(conn.Connected?"alert alert-success":"")">
                                    <td>@conn.AppName</td>
                                    <td>@conn.AppVersion</td>
                                    @if (!string.IsNullOrEmpty(conn.AppCreationTime))
                                    {
                                        <td @DateTime.Parse(conn.AppCreationTime).Year>@DateTime.Parse(conn.AppCreationTime).ToString("yyMMdd HH:mm:ss")</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@conn.ConnectAt.AsReadable()</td>
                                    <td>@conn.OSVersion</td>
                                    <td>@conn.IEVersion</td>
                                    <td>@conn.RuntimeVersion</td>
                                    <td>@(conn.ReconnectCount)次</td>
                                    <td>@conn.ReconnectAt.AsReadable()</td>
                                    <td>@conn.DisconnectAt.AsReadable()</td>
                                    <td>
                                        @(conn.Connected ? "在线" : "离线")
                                    </td>
                                    <td>
                                        @if (conn.Connected)
                                        {
                                            <a href="javascript:;" onclick="$.post('/account/heartbeat/@conn.ConnectionID');">测试</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>@user.UserName</td>
                <td colspan="4">
                    从未连接
                </td>
            </tr>
        }
    }
</table>
